#etchASketch {
    width: 800px;
    height: 800px;
    border: 1px solid black;
    margin: 8px;
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

.active {
    background: black;
}