body {
    background: rgb(255, 241, 230);
}

#outerContainer {
    display: flex;
    flex-direction: column;
    width: 800px;
    padding: 8px;
}

#etchASketch {
    width: 800px;
    height: 800px;
    border: 1px solid black;
    display: flex;
    background: white;
}

.col {
    display: flex;
    flex-direction: column;
}

.active {
    background: black;
}

#controlsContainer {
    display: flex;
    justify-content: space-between;
    margin: 8px 0 8px 0;
    align-items: center;
}

#sliderOuterContainer {
    display: flex;
    align-items: center;
    gap: 8px;
}

#sliderInnerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#clear, #undo {
    padding: 8px 16px;
}