body {
    background: rgb(255, 241, 230);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h1 {
    margin: 16px;
}

p {
    margin: 16px;
}

#outerContainer {
    display: flex;
    width: 100vw;
    padding: 8px;
    justify-content: center;
}

#innerContainer {
    width: 800px;
}

#etchASketch {
    width: 800px;
    height: 800px;
    border: 1px solid black;
    display: flex;
    background: white;
}

.col {
    display: flex;
    flex-direction: column;
}

#controlsContainer {
    display: flex;
    justify-content: space-between;
    margin: 8px 0 8px 0;
    align-items: center;
}

#sliderContainer {
    display: flex;
    align-items: center;
    gap: 8px;
}

#clear, #undo {
    padding: 8px 16px;
    margin: 2px;
}